# Ignore folders and its contents
/bin/
/-v/
/_check/
/.venv/
/.vscode/
/.git/

# Ignore files from folder, kept it.
query/*
!query/.gitkeep

img/*
!img/.gitkeep

__result/*
!__result/.gitkeep

#ignore specific files
config.json
config.ini

# Ignore files with extension
*.cfg
*.sql
*.txt
